<div
  class="flex flex-col items-center md:items-start justify-center md:max-w-[500px] p-5 gap-5 md:gap-4 h-full w-full max-w-[500px]"
>
  <h4 class="font-extrabold text-3xl">Productive Mind</h4>
  <p class="text-gray-700">
    With only the features you need, Organic Mind is customized for individuals
    seeking a stress-free way to stay forcused on their goals, projects and
    tasks.
  </p>

  <div class="w-full flex flex-col justify-center items-center gap-3">
    <a class="w-full" routerLink="/auth/register">
      <auth-btn> Get started </auth-btn>
    </a>
    <a
      class="font-bold text-xs hover:text-gray-700 hover:underline"
      href="/auth/login"
      >Already have an account? Sign in</a
    >
  </div>
</div>
